# <center>Sequence Data Types</center>

* [<span style='color:purple'>**Introduction**](#Introduction)
* [<span style='color:purple'>**List**](#List)
* [<span style='color:purple'>**Membership Tests**](#Membership-Tests.)
* [<span style='color:purple'>**List Indexing**](#List-Indexing)
* [<span style='color:purple'>**List Slicing**](#List-Slicing)
* [<span style='color:purple'>**Unpacking list**](#Unpacking-list)
     * [<span style='color:purple'>Task 1:List Operation](#Task-1:List-Operation)
* [<span style='color:purple'>**changing list elements**](#changing-list-elements)
* [<span style='color:purple'>**Adding list elements**](#Adding-list-elements)
* [<span style='color:purple'>**combining and repeating list**](#combining-and-repeating-list)
* [<span style='color:purple'>**Remove the list elements**](#Remove-the-list-elements)
     * [<span style='color:purple'>Task 2: Adding list elements](#Task-2:-Adding-list-elements)
* [<span style='color:purple'>**List functions**](#List-functions)
* [<span style='color:purple'>**List methods**](#List-methods)
    * [<span style='color:purple'>Task 3: List functions and methods](#Task-3:-List-functions-and-methods)
* [<span style='color:purple'>**Nested list**](#Nested-list)
* [<span style='color:purple'>**Copying lists**](#Copying-lists)
    * [<span style='color:purple'>Task 4: Nested list and copying](#Task-4:-Nested-list-and-copying)
* [<span style='color:purple'>**Tuples**](#Tuples)
* [<span style='color:purple'>**Why use tuples**](#Why-use-tuples)
    * [<span style='color:purple'>Task 5: Tuples](#Task-5:-Tuples)
* [<span style='color:purple'>**Ranges**](#Ranges)
    * [<span style='color:purple'>Task 6:Ranges](#Task-6:Ranges)
* [<span style='color:purple'>**Note:**](#Note:)

## <center>Introduction</center>

**Sequence data types** include list,tuples and range which are capable of storing many values.

## List

List are iterable data types capable of storing many individual elements.<br>
List elements can by any data type, that can be added,changed or removed at any time.

In [1]:
list1 = ['box','fruit box',None,True,100,200,-1,0.5]

In [2]:
list2 = ['pencil','scale','rubber','boxes','books']

In [3]:
empty_list =[]

In [4]:
list1

['box', 'fruit box', None, True, 100, 200, -1, 0.5]

In [5]:
list2

['pencil', 'scale', 'rubber', 'boxes', 'books']

In [6]:
empty_list

[]

In [8]:
#string to list
a = 'hello'

In [10]:
list(a)

['h', 'e', 'l', 'l', 'o']

***

## Membership Tests.

In [12]:
list2

['pencil', 'scale', 'rubber', 'boxes', 'books']

In [14]:
'scale' in list2

True

In [16]:
'scale' and 'rubber' in list2

True

In [18]:
if 'scale' and 'rubber' in list2:
    print("fill the list3")
else:
    print("dont fill list3")

fill the list3

***

## List Indexing

In [19]:
list2

['pencil', 'scale', 'rubber', 'boxes', 'books']

In [20]:
list2[0]

'pencil'

In [21]:
list2[1]

'scale'

***

## List Slicing

In [22]:
list2[0:2]

['pencil', 'scale']

In [23]:
list2[::2]

['pencil', 'rubber', 'books']

In [24]:
list2[2:4]

['rubber', 'boxes']

***

## Unpacking list

List can be unpacked to individual variables.

In [25]:
list2

['pencil', 'scale', 'rubber', 'boxes', 'books']

In [26]:
a,b,c,d,e =list2

In [27]:
print(a,b)

pencil scale

In [28]:
a

'pencil'

In [29]:
print(a,b,c,d,e)

pencil scale rubber boxes books

In [30]:
list2

['pencil', 'scale', 'rubber', 'boxes', 'books']

***

## Task 1:List Operation

### Create a List the customers that made purchases on black friday

The customers that made purchases on Black Friday were:

C00001, C00003, C00004, C00005 C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016 and C00029

Call your list `customer_list`.

In [31]:
customer_list = ['C00001', 'C00003', 'C00004', 'C00005','C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016','C00029']

In [33]:
print(customer_list)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00029']

### Did C00009 make a purchase?

This customer said they made a purchase we're not seeing it in our data. If they did, we need to record the revenue.

Write code that returns 99.99 if C00009 is in the list. If not, return 0.0.

In [34]:
if 'C000009' in customer_list:
    print(99.99)
else:
    print(0.0)

0.0

### Market Research Samples

1. Using slicing, create a list containing the fifth and sixth customer in the list called `fifth_sixth`.

In [56]:
fifth_sixth = customer_list[4:6]

In [57]:
fifth_sixth

['C00006', 'C00007']

2. Create a list called `every_third` that contains every third customer in the list (1st, 4rd, 7th, and so on...).

In [47]:
every_third = customer_list[0:len(customer_list):3]

In [48]:
every_third

['C00001', 'C00005', 'C00018', 'C00014', 'C00029']

3. Finally, using slicing, create a list with the last two customers in our dataset, called `last_two`.

In [60]:
last_two = customer_list[-2:]

In [61]:
last_two

['C00016', 'C00029']

## changing list elements

In [62]:
new_elements =['coat','cover','pants','backpack','wool']

In [63]:
new_elements

['coat', 'cover', 'pants', 'backpack', 'wool']

In [70]:
new_elements[1] ='red cover'

In [71]:
new_elements

['coat', 'red cover', 'pants', 'backpack', 'wool']

In [72]:
new_elements

['coat', 'red cover', 'pants', 'backpack', 'wool']

## Adding list elements

In [73]:
new_elements.append('yellow pant')

In [74]:
new_elements

['coat', 'red cover', 'pants', 'backpack', 'wool', 'yellow pant']

In [76]:
new_elements.insert(2,'blue pant')

In [77]:
new_elements

['coat', 'red cover', 'blue pant', 'pants', 'backpack', 'wool', 'yellow pant']

In [81]:
new_elements[0:3:2]

['coat', 'blue pant']

## combining and repeating list<br>

List can be combined or concatenated with + and repeated with *

In [82]:
new_item =new_elements + list2

In [83]:
new_item

['coat',
 'red cover',
 'blue pant',
 'pants',
 'backpack',
 'wool',
 'yellow pant',
 'pencil',
 'scale',
 'rubber',
 'boxes',
 'books']

In [84]:
print(new_item)

['coat', 'red cover', 'blue pant', 'pants', 'backpack', 'wool', 'yellow pant', 'pencil', 'scale', 'rubber', 'boxes', 'books']

In [85]:
new_item * 3

['coat',
 'red cover',
 'blue pant',
 'pants',
 'backpack',
 'wool',
 'yellow pant',
 'pencil',
 'scale',
 'rubber',
 'boxes',
 'books',
 'coat',
 'red cover',
 'blue pant',
 'pants',
 'backpack',
 'wool',
 'yellow pant',
 'pencil',
 'scale',
 'rubber',
 'boxes',
 'books',
 'coat',
 'red cover',
 'blue pant',
 'pants',
 'backpack',
 'wool',
 'yellow pant',
 'pencil',
 'scale',
 'rubber',
 'boxes',
 'books']

## Remove the list elements

In [89]:
new_item

['coat',
 'pants',
 'backpack',
 'wool',
 'yellow pant',
 'pencil',
 'scale',
 'rubber',
 'boxes',
 'books']

In [90]:
len(new_item)

10

In [91]:
del new_item[1:3]

In [92]:
new_item

['coat', 'wool', 'yellow pant', 'pencil', 'scale', 'rubber', 'boxes', 'books']

In [93]:
len(new_item)

8

In [94]:
new_item.remove('wool')

In [95]:
new_item

['coat', 'yellow pant', 'pencil', 'scale', 'rubber', 'boxes', 'books']

In [96]:
len(new_item)

7

***

## Task 2: Adding list elements

### Updated Customer Lists

Hi there, we need to add customer 'C00009' to `customer_list`, we just found their receipt in the warehouse.

In [97]:
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029']

In [98]:
customer_list.append('C00009')

In [99]:
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009']

### Adding Saturday Customers

Add the customers from `saturday_list` to `customer_list` below.

In [100]:
saturday_list = [
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022'
]

In [101]:
saturday_list

['C00004', 'C00017', 'C00019', 'C00002', 'C00008', 'C00021', 'C00022']

In [102]:
customer_list =customer_list + saturday_list

In [103]:
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009',
 'C00004',
 'C00017',
 'C00019',
 'C00002',
 'C00008',
 'C00021',
 'C00022']

### Updated Customer Lists (Final Update)

We now need to remove the Saturday customers from the list. 

I've included the full `customer_list` below.

The Saturday customers are the final seven customers in `customer_list`.

### Delete a friend

Please remove customer 'C00004' from the reduced list you just created. This is a friend of the owner and shouldn't be recorded as a sale.

In [104]:
customer_list.index('C00004')

2

In [105]:
customer_list.remove('C00004')

In [106]:
customer_list

['C00001',
 'C00003',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029',
 'C00009',
 'C00004',
 'C00017',
 'C00019',
 'C00002',
 'C00008',
 'C00021',
 'C00022']

In [107]:
print(customer_list)

['C00001', 'C00003', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00029', 'C00009', 'C00004', 'C00017', 'C00019', 'C00002', 'C00008', 'C00021', 'C00022']

***

## List functions

In [1]:
transaction = [20,11,30,40,50,60,100,2.07,5.8]

In [2]:
len(transaction)

9

In [3]:
sum(transaction)

318.87

In [4]:
min(transaction)

2.07

In [5]:
max(transaction)

100

In [6]:
transaction.sort() #original list will be changed

In [7]:
transaction

[2.07, 5.8, 11, 20, 30, 40, 50, 60, 100]

In [8]:
list2 =[10.88,90,70,30,20,50,10]

In [9]:
list2

[10.88, 90, 70, 30, 20, 50, 10]

In [12]:
sorted(list2) #does not change the original list

[10, 10.88, 20, 30, 50, 70, 90]

In [13]:
list2

[10.88, 90, 70, 30, 20, 50, 10]

In [14]:
transaction

[2.07, 5.8, 11, 20, 30, 40, 50, 60, 100]

***

## List methods

In [15]:
transaction.index(40)

5

In [16]:
transaction.count(20)

1

In [18]:
transaction.append(20)

In [19]:
transaction

[2.07, 5.8, 11, 20, 30, 40, 50, 60, 100, 20]

In [20]:
transaction.count(20)

2

In [21]:
transaction.reverse()

In [22]:
transaction

[20, 100, 60, 50, 40, 30, 20, 11, 5.8, 2.07]

***

## Task 3: List functions and methods

### Black Friday Data

We've compiled lists of the black friday `customer_ids` and `subtotals`, the amount before tax, below

In [23]:
customer_ids = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013',
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022', 'C00006', 'C00018', 'C00018',
    'C00010', 'C00016'
]

subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99,
    599.99, 24.99, 1799.94, 99.99, 254.95,
    29.98, 99.99, 25.98, 649.98, 89.99,
    119.99, 599.99, 649.98, 24.99, 99.99,
    99.99, 5.99, 24.99, 999.96, 99.99,
    399.97, 89.99
]

### Calculate the Average Transaction

Calculate the average value of the transactions in the list  `subtotals`.

We don't have an average function, so we might need to use sum() and len() to do so.

In [24]:
subtotals

[15.98,
 899.97,
 799.97,
 117.96,
 5.99,
 599.99,
 24.99,
 1799.94,
 99.99,
 254.95,
 29.98,
 99.99,
 25.98,
 649.98,
 89.99,
 119.99,
 599.99,
 649.98,
 24.99,
 99.99,
 99.99,
 5.99,
 24.99,
 999.96,
 99.99,
 399.97,
 89.99]

In [25]:
sum_of_all = sum(subtotals)

In [26]:
sum_of_all

8731.469999999996

In [27]:
no_of_elements =len(subtotals)

In [28]:
no_of_elements

27

In [29]:
average_transaction = sum_of_all / no_of_elements

In [30]:
print("average transaction",average_transaction)

average transaction 323.3877777777776

### Customer Deep Dive

How many transactions did customer C00010 make?

In [31]:
customer_ids

['C00004',
 'C00007',
 'C00015',
 'C00016',
 'C00020',
 'C00010',
 'C00006',
 'C00001',
 'C00003',
 'C00014',
 'C00001',
 'C00001',
 'C00005',
 'C00008',
 'C00013',
 'C00004',
 'C00017',
 'C00019',
 'C00002',
 'C00008',
 'C00021',
 'C00022',
 'C00006',
 'C00018',
 'C00018',
 'C00010',
 'C00016']

In [32]:
no_of_transaction = customer_ids.count("C00010")

In [33]:
print("customer C00010 make transaction",no_of_transaction,"times")

customer C00010 make transaction 2 times

What is the index of customer C00010's first transaction?

In [35]:
customer_ids.index("C00010")

5

What is the revenue of C00010's first transaction? 

We will need to index `subtotals` using the index returned in the last question.

In [39]:
subtotals[5]

599.99

In [41]:
print("revenue of C00010 first transaction:",subtotals[customer_ids.index("C00010")])

revenue of C00010 first transaction: 599.99

***

## Nested list

List stored as a element of another list is known as nested list

In [94]:
list_list = [[1,2,3],
            [4,5,6],
            [7,8,9]]

In [95]:
list_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [96]:
list_list[0]

[1, 2, 3]

In [97]:
list_list[0][0]

1

In [98]:
list_list[0][2]

3

**List methods and functions** will work with nested lists

In [99]:
list_list1 =[['a','b','c'],
             ['cat','dog'],
             ['hen','goat']]

In [100]:
list_list1

[['a', 'b', 'c'], ['cat', 'dog'], ['hen', 'goat']]

In [101]:
list_list1[1].append('k')

In [102]:
list_list1

[['a', 'b', 'c'], ['cat', 'dog', 'k'], ['hen', 'goat']]

In [103]:
list_list1.append('a')

In [104]:
list_list1

[['a', 'b', 'c'], ['cat', 'dog', 'k'], ['hen', 'goat'], 'a']

In [105]:
list_list1.count('a')

1

In [106]:
list_list1[0].append('a')

In [107]:
list_list1

[['a', 'b', 'c', 'a'], ['cat', 'dog', 'k'], ['hen', 'goat'], 'a']

In [108]:
list_list1[0].count('a')

2

In [109]:
list_list1.count('a')

1

***

## Copying lists

There are three way to copy list:
1. Variable assignment -assigning a list to  a new variable create a view
2. .copy() -applying this method to a list create a shallow copy
3. deepcopy() -using this function on a list create entirely independent list

### Variable assignment

In [110]:
list_list1 #original list

[['a', 'b', 'c', 'a'], ['cat', 'dog', 'k'], ['hen', 'goat'], 'a']

In [111]:
#copy the list using variable assignment
copy1 =list_list1

In [112]:
copy1 #copied list

[['a', 'b', 'c', 'a'], ['cat', 'dog', 'k'], ['hen', 'goat'], 'a']

In [113]:
#changing the element in original list
list_list1[1].append('rat')

In [114]:
list_list1

[['a', 'b', 'c', 'a'], ['cat', 'dog', 'k', 'rat'], ['hen', 'goat'], 'a']

In [115]:
copy1 #original list change will reflect in copied list

[['a', 'b', 'c', 'a'], ['cat', 'dog', 'k', 'rat'], ['hen', 'goat'], 'a']

In [116]:
#note in variable assignment 
#Both variable point to the same object in memory
#changing the element in one list will result in change in other

###  .copy()

In [117]:
main =[[1,2,3,4],[5,6,7],[8,9,10]]

In [118]:
main

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [119]:
shallow_copy = main.copy()

In [120]:
shallow_copy

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [121]:
main.append([11,12])

In [122]:
main

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10], [11, 12]]

In [123]:
shallow_copy

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [124]:
main[0][2] ='GGGG'

In [126]:
main

[[1, 2, 'GGGG', 4], [5, 6, 7], [8, 9, 10], [11, 12]]

In [127]:
shallow_copy

[[1, 2, 'GGGG', 4], [5, 6, 7], [8, 9, 10]]

### deepcopy

In [28]:
from copy import deepcopy

In [131]:
main1 =[[1,2,3,4],[5,6,7],[8,9,10]]

In [132]:
main1

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [135]:
deep_copy =deepcopy(main1)

In [136]:
deep_copy

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [137]:
main1.append([11,13])

In [138]:
main1

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10], [11, 13]]

In [139]:
deep_copy

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [140]:
main1[0][2] = 'changing'

In [141]:
main1

[[1, 2, 'changing', 4], [5, 6, 7], [8, 9, 10], [11, 13]]

In [143]:
deep_copy

[[1, 2, 3, 4], [5, 6, 7], [8, 9, 10]]

***

## Task 4: Nested list and copying

### Multi Order Customers

We want to understand our multi order customers. 

Below are lists of transactions made by our companies that made multiple orders this weekend.

In [160]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

### VIP List 

Create a nested list where each element is one of the customer transaction lists above, called `vip_list`

In [161]:
vip_list = [orders_c00001,orders_c00004,orders_c00006,orders_c00008,orders_c00010]

In [162]:
vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

Some of us are curious about customer C00001, given that they made three transactions.

Report the second and third transactions they made.

In [163]:
customer_1 =vip_list[0][1:3]

In [164]:
print("second and third transaction",customer_1)

second and third transaction [29.98, 99.99]

### Revenue Adjusted List

We need to make a copy of our `vip_list`. We need to change an entire list inside that we DON'T want reflected in `vip_list`. 

Call the copy `revenue_adjusted_list`.

In [165]:
revenue_adjusted_list = deepcopy(vip_list)

In [166]:
revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

Once you have your copy, change both of customer C00004's transaction values to 0.0.

These were gifts and shouldn't be recorded as revenue. Make sure to confirm `vip_list` hasn't changed!

In [167]:
vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [168]:
orders_c00004 =[0.0,0.0]

In [169]:
revenue_adjusted_list[1] = [0.0,0.0]

In [170]:
vip_list

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [171]:
revenue_adjusted_list

[[1799.94, 29.98, 99.99],
 [0.0, 0.0],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [1]:
number = [[1,2,2,8],[5,6,7,8],[10,100,150]]

In [2]:
copy_number = number

In [3]:
copy_number

[[1, 2, 2, 8], [5, 6, 7, 8], [10, 100, 150]]

In [4]:
print("id of number-->",id(number))
print("id of copy_number-->",id(copy_number))

id of number--> 2285997831808
id of copy_number 2285997831808

In [6]:
print(number)
print(copy_number)

[[1, 2, 2, 8], [5, 6, 7, 8], [10, 100, 150]]
[[1, 2, 2, 8], [5, 6, 7, 8], [10, 100, 150]]

In [7]:
copy_number.append([90,99,199])

In [8]:
copy_number

[[1, 2, 2, 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [9]:
number

[[1, 2, 2, 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [10]:
copy_number[0][2] ='two'

In [11]:
print(number)
print(copy_number)

[[1, 2, 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]
[[1, 2, 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [12]:
number

[[1, 2, 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [15]:
#shallow copy
shallow_number = number.copy()
shallow_number

[[1, 2, 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [18]:
print("number id",id(number))
print("shallow number id",id(shallow_number))

number id 2285997831808
shallow number id 2286026385472

In [19]:
shallow_number.append(['five','six'])

In [21]:
print(shallow_number)

[[1, 2, 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199], ['five', 'six']]

In [22]:
print(number)

[[1, 2, 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [23]:
shallow_number[0][1] ="change to two"

In [24]:
print(shallow_number)
print(number)

[[1, 'change to two', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199], ['five', 'six']]
[[1, 'change to two', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [25]:
#deep copy
number

[[1, 'change to two', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [30]:
deep_number = deepcopy(number)

In [31]:
deep_number

[[1, 'change to two', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [32]:
print("number id:",id(number))
print("deep number:",id(deep_number))

number id: 2285997831808
deep number: 2286026906560

In [33]:
deep_number[0][1] ="change to three"
deep_number

[[1, 'change to three', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [34]:
number

[[1, 'change to two', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [35]:
deep_number.append([88,'eight'])

In [36]:
deep_number

[[1, 'change to three', 'two', 8],
 [5, 6, 7, 8],
 [10, 100, 150],
 [90, 99, 199],
 [88, 'eight']]

In [37]:
number

[[1, 'change to two', 'two', 8], [5, 6, 7, 8], [10, 100, 150], [90, 99, 199]]

In [38]:
number[0][0] ='one'

In [39]:
number

[['one', 'change to two', 'two', 8],
 [5, 6, 7, 8],
 [10, 100, 150],
 [90, 99, 199]]

In [40]:
deep_number

[[1, 'change to three', 'two', 8],
 [5, 6, 7, 8],
 [10, 100, 150],
 [90, 99, 199],
 [88, 'eight']]

In [41]:
shallow_number

[['one', 'change to two', 'two', 8],
 [5, 6, 7, 8],
 [10, 100, 150],
 [90, 99, 199],
 ['five', 'six']]

***

## Tuples

Tuples are iterable data type capable of storing many individual items
1. Tuples are similar to list except they are immutable.
2. Tuple items can still be any data type,but they cannot be added,change or removed

In [42]:
item_tuple =('box','wood','wool','helmet')

In [43]:
item_tuple

('box', 'wood', 'wool', 'helmet')

In [44]:
type(item_tuple)

tuple

In [45]:
item_tuple[2]

'wool'

In [47]:
item_tuple.index('wool')

2

In [48]:
len(item_tuple)

4

## Why use tuples

1. Tuples require less memory than a list.
2. Tuple exected twice as fast as list
3. Tuple resduce user error by preventing modification to data.

***

## Task 5: Tuples

### Sales Tax

We need to calculate the sales taxes for our customer that made three transactions in `multi_order_customers` below.

(The customer that made three transactions was customer C00001). Run this cell to create the list.

In [49]:
multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

Create a tuple from the first element in the `multi_order_customers`.

Unpack this tuple into the variables `transaction1`, `transaction2`, and `transaction3`.

Once you've have separated the transactions, calculate the tax of .08 rounded to 2 decimals and print it.

In [53]:
first_elements = multi_order_customers[0]

In [54]:
first_elements

[1799.94, 29.98, 99.99]

In [55]:
first_elements =tuple(first_elements)

In [56]:
first_elements

(1799.94, 29.98, 99.99)

In [59]:
#unpack tuples
transaction1,transaction2,transaction3 = first_elements

In [60]:
print(transaction1)
print(transaction2)
print(transaction3)

1799.94
29.98
99.99

In [63]:
print("tax for transaction1 -->",round(transaction1 * 0.08,2))
print("tax for transaction2 -->",round(transaction2 * 0.08,2))
print("tax for transaction3 -->",round(transaction3 * 0.08,2))

tax for transaction1 --> 144.0
tax for transaction2 --> 2.4
tax for transaction3 --> 8.0

***

## Ranges

**Ranges** are sequence of integer seperated by start,stop,step size
1. They are more efficient than tuples,since they don't generate the integer until needed.
2. They save time,as you don't need to write the list of integers manually in the code.
3. Ranges are commonly used with loops.

In [64]:
range_item = range(1,10,1)

In [66]:
print(range_item) # Note printing the range does not return integer

range(1, 10)

In [67]:
print(list(range_item))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
len(range_item)

9

In [69]:
print(tuple(range_item))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [70]:
range2 =range(1,10,2)

In [71]:
range2

range(1, 10, 2)

In [73]:
print(list(range2))

[1, 3, 5, 7, 9]

***

## Task 6:Ranges

### Customer Promos

1. We're working on some fun promotional giveaways for our next big sale.

2. We want to generate a few different sequences of lucky numbers - customers who get lucky will receive a keychain, coffee mug, or beanie!

3. Coffee mugs will be given to even numbered vistors in our first 10 visitors, please generate a sequence of even integers between 1 and 10.

In [81]:
even_customer =range(2,12,2)
print("customer receive keychain:",list(even_customer))

customer receive keychain: [2, 4, 6, 8, 10]

In [82]:
odd_customer =range(1,10,2)
print("customer receive mug:",list(odd_customer))

customer receive mug: [1, 3, 5, 7, 9]

Finally, every 7th customer in our first 100 vistors will receive a beanie.

Generate a sequence of integers containing multiples of 7 from 1 to 100.

In [84]:
generate_7th =range(7,100,7)
print("Customer receive beanie:",list(generate_7th))

Customer receive beanie: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

***

### Note:
<span style ="color:purple">1. **List and Tuples** are sequence data types capable of storing many values.<br>
    2. Use **Indexing and Slicing** to access and modify list elements.<br>
    3. List and tuples have many Built in **Functions and Methods** to make working with sequences easier.