# <center>Numeric Data</center>

* [<span style='color:purple'>**Introduction**](#Introduction)
    * [<span style='color:purple'>Numeric Type conversion](#Numeric-Type-conversion)
    * [<span style='color:purple'>Multiple values](#Multiple-values:)
    * [<span style='color:purple'>Arithmetic Operators](#Arithmetic-Operators)
    * [<span style='color:purple'>Order of operations](#Order-of-operations)
        * [<span style='color:purple'>Task 1:Arithmetic Operators](#Task-1:Arithmetic-operators)
    * [<span style='color:purple'>Numeric Functions](#Numeric-Functions)
        * [<span style='color:purple'>Task 2:Numeric Functions](#Task-2:Numeric-Functions)
    * [<span style='color:purple'>Note:](#Note:)

## <center>Introduction</center>

There are three types of **Numeric data types** in python:<br>
1. Integer(int) -whole number without decimal point.
2. Float(float) - real number with decimal point.
3. Complex(complex) - numbers with real and imaginary portions.

## Numeric Type conversion

In [1]:
number = 1.6899
number

1.6899

In [2]:
type(number)

float

In [4]:
int_number = int(number)
int_number

1

In [5]:
type(int_number)

int

In [1]:
text = '1.2'
type(text)

str

In [2]:
float_number = float(text)

In [3]:
float_number,type(float_number)

(1.2, float)

## Arithmetic Operators


| Operators| to  |Example|
| :---: |  :---: | :---: |
| + Addition  | Add two values |  5 + 3 =8 | 
| - Subtraction | Subtract one value from another | 5-3 =2|
| * Multiplication|Multiplies two value|6 * 6=36|
| / Division |Divides one value by another|64/8=8|
| //Floor division|Divide one value by another and round down to nearest integer|5//3=1|
| % Modulo|Return the remainder of a division|5%3=2|
| ** Exponentiation|Raise one value to the power of another|3 ** 3=27|

## Order of operations

Python uses the standard PEMDAS **Order of orperations** to perform calculations
1. Parantheses
2. Exponentiation
3. Multiplication and division(also floor division and modulo)from left to right
4. Addition and subtraction from left to right

## Task 1:Arithmetic operators

 calculate the following numbers<br>
 
 * Gross profit from selling a snowboard
 * Gross margin from selling a snowboard
 * Price needed for a gross margin of 70%
 * Sales tax on a snowboard sale
 * Amount of money if the gross profit from 
selling 5 snowboards is invested for one year

### 1. Calculate the gross profit on our snowboard

Formula: Price minus cost

In [4]:
snowboard_price = 499.99
snowboard_cost = 199.99

In [5]:
profit_snowboard = snowboard_price - snowboard_cost

In [8]:
print("gross profit on snowboard =", profit_snowboard)

gross profit on snowboard = 300.0

### 2. Calculate the gross margin on our snowboard
Formula: Gross profit divided by price

In [9]:
gross_margin = profit_snowboard / snowboard_price
print("gross margin on snowboard = ",gross_margin)

gross margin on snowboard =  0.6000120002400048

### 3. Calculate the price needed to obtain a gross margin of 70%

Formula:  cost divided by (1 minus the desired margin).

In [12]:
desired_margin = 0.7
price_needed_70_percent =snowboard_cost/(1-desired_margin)
print("the price needed to obtain a gross margin of 70% =",price_needed_70_percent)

the price needed to obtain a gross margin of 70% = 666.6333333333332

### 4. Calculate the sales tax on a sale of our snowboard
Tax rate: 8%

Formula: Price times tax rate

In [15]:
Tax_rate = 0.08
sales_tax =snowboard_price * Tax_rate

In [16]:
print("the sales tax on a sale of our snowboard = ",sales_tax)

the sales tax on a sale of our snowboard =  39.9992

### 5. Return on Profits

Calculate the amount of money we'd have if we invested the profit from selling 5 snowboards for one year.

Assume an interest rate of 5%.

The formula is the amount_invested plus  (amount_invested times interest_rate)

In [21]:
interest_rate = 0.05
amount_invested = 5*profit_snowboard
return_on_profits = amount_invested+(amount_invested * interest_rate)

In [22]:
return_on_profits

1575.0

## Numeric Functions

**Single Numbers:**<br>
1. round() -round a number to specific number of digit
2. abs() - returns the absolute value of a number<br>

**Multiple Numbers:**<br>
1. sum() - sum all the numbers in iterable
2. min() - return the smallest number from iterable
3. max() - return the largest number from iterable

In [23]:
a =3.72912
round(a,2)

3.73

In [24]:
a

3.72912

In [26]:
b =-45
abs(b)# this will always return positive number

45

In [27]:
sum((4,19,20,30))#sum all the number in tuples

73

In [28]:
c =(10,20,30,80,100,200,1,2,4,8)

In [29]:
sum(c)

455

In [30]:
min(c)

1

In [31]:
max(c)

200

## Task 2:Numeric Functions

 * What is the highest priced item we sell?
 * What is the lowest priced item we sell?
 * How much would it cost for a customer to 
purchase two of every item, rounded to the 
nearest dollar

###  What are the highest and lowest priced items we sell?

Based on the list of prices below. Use Python to determine this.

In [34]:
price_list = [129.99, 99.99, 119.19, 99.99, 89.99, 79.99, 49.99]
print("highest price = ",max(price_list))

highest price =  129.99

In [35]:
print("lowest price = ",min(price_list))

lowest price =  49.99

### How much would it cost for a customer to purchase two of every item, rounded to the nearest dollar

In [36]:
purchase_two = 2*sum(price_list)

In [37]:
purchase_two

1338.26

In [41]:
nearest_dollar = round(purchase_two)

In [43]:
print("cost for a customer to purchase two of every item = ",nearest_dollar)

cost for a customer to purchase two of every item =  1338

### Note:

<span style='color:purple'>1.**integer,float and complex**are the numeric data types<br>2. Arithmetic operation follow the **PEMDAS** order of operation<br>3.Python has a built-in-functions that work specially with numbers
**round,abs,sum,min,max**