# <center>Loops</center>

* [<span style='color:purple'>**Introduction**](#Introduction)
* [<span style='color:purple'>**For Loops**](#For-Loops)
* [<span style='color:purple'>**Looping over items**](#Looping-over-items)
* [<span style='color:purple'>**Looping over indices**](#Looping-over-indices)
* [<span style='color:purple'>**Looping over multiple iterables**](#Looping-over-multiple-iterables)
* [<span style='color:purple'>**Enumerate**](#Enumerate)
    * [<span style='color:purple'>Task 1:For loops](#Task-1:For-loops)
    * [<span style='color:purple'>Task 2:Enumerate](#Task-2:Enumerate)
* [<span style='color:purple'>**While Loops**](#While-Loops)
    * [<span style='color:purple'>Task 3:While loops](#Task-3:While-loops)
* [<span style='color:purple'>**Nested loop**](#Nested-loop)
    * [<span style='color:purple'>Task 4:Nested loop](#Task-4:Nested-loop)
* [<span style='color:purple'>**Loop control**](#Loop-control)
    * [<span style='color:purple'>Task 5:Loop control](#Task-5:Loop-control)
* [<span style='color:purple'>**Note:**](#Note:)

## <center>Introduction</center>

**Loop** is a block of code that will repeat until a given condition met.<br>
There are two types of loops:<br>

**For Loops**
1. Run a specified amount of time.
2. This often correspond with the length of list,tuple or any other iterable data type.<br>

**while Loops**
1. Run until the logical condition met.
2. Should be used when you don't know how many times the code should run.

***

## For Loops

In [2]:
name ='nan'

In [3]:
#to print name for 3 time 
print(name)
print(name)
print(name)

nan
nan
nan

In [5]:
#to print this name for three time we can use for loop

for i in name:
    print(name)

nan
nan
nan
nan

In [6]:
#same name have to be repeated for 5 times
n =range(1,6)
for i in n:
    print(name)

nan
nan
nan
nan
nan

In [7]:
exchange = 0.90
usd_list =[5.99,9.99,24.99]

round(usd_list[0] * 0.90,2)

5.39

In [15]:
# to multiple all the element in the list with exchange and add in a new list
euro_list =[]
for i in usd_list:
    euro_list.append(round(i *exchange,2))
print(euro_list)

[5.39, 8.99, 22.49]

In [18]:
# print number from 1 to 10

number = range(1,11)

for x in number:
    print("Current value:",x)

Current value: 1
Current value: 2
Current value: 3
Current value: 4
Current value: 5
Current value: 6
Current value: 7
Current value: 8
Current value: 9
Current value: 10

In [19]:
var1 ='hello world'

for x in var1:
    print(x)

h
e
l
l
o

w
o
r
l
d

In [22]:
print(var1[0:5])
print(var1[0:len(var1)])

hello
hello world

In [23]:
var1

'hello world'

In [24]:
var1[0]

'h'

In [33]:
var1[:10]

'hello worl'

In [26]:
len(var1)

11

In [42]:
for i in var1:
    print(var1)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [47]:

for i in var1:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [51]:
print(var1[0:1])
print(var1[0:2])
print(var1[0:3])

h
he
hel

In [54]:
x=1
for i in var1:
    print(var1[0:x])
    x =x+1

h
he
hel
hell
hello
hello
hello w
hello wo
hello wor
hello worl
hello world

***

## Looping over items

In [67]:
#looping over items

list1 =[100,20,30,40,50,60,70]
multiplier = 80
new_list =[]

for i in list1:
    new_list.append(i*multiplier)
    
    
print("new_list:",new_list)
print("sum",sum(new_list))
print("average",round(sum(new_list)/len(new_list),2))

new_list: [8000, 1600, 2400, 3200, 4000, 4800, 5600]
sum 29600
average 4228.57

In [72]:
for x in list1:
    print(x)

100
20
30
40
50
60
70

In [81]:
list1 =[10,11,12,1,31,3,1,3,1,2]
list2 =[10,11,12,1,31,3,1,32,11,20]
new_element =[]
i=0
for x in list1:
    new_element.append(list1[i]+list2[i])
    i=i+1
print(new_element)

[20, 22, 24, 2, 62, 6, 2, 35, 12, 22]

In [18]:
price = 600
product = [90,100,11,20,30]

#for i in product:
    #print(i*price)
    
for i in range(len(product)):
    print(product[i]*price)

54000
60000
6600
12000
18000

In [12]:
list1 = [5.9,4.2,3.8]
list2 = ['box','pencil','tree'] 
new_list = []
for i in range(len(list1)):
    new_list.append(f"{list2[i]} is {list1[i]}")
print(new_list)

['box is 5.9', 'pencil is 4.2', 'tree is 3.8']

***

## Looping over indices

In [ ]:
#looping over indices

rate =90
list1 = [10,11,8,30,40,50,60,70]
empty =[]

for x in range(len(list1)):
    empty.append(list1[x]*rate)
print(empty)

In [24]:
#looping over items

rate =90
list1 = [10,11,8,30,40,50,60,70]
empty =[]

for x in list1:
    empty.append(x*rate)
print(empty)

[900, 990, 720, 2700, 3600, 4500, 5400, 6300]

***

## Looping over multiple iterables

In [27]:
list1 =[60,70,20,50,100,20]
items = ['box','pen','pencil','sweet','chocolate','switch']

len(list1),len(items)

(6, 6)

In [37]:
new_entry = []
for i in range(len(list1)):
    new_entry.append(f"{items[i]} is {list1[i]}")
print(new_entry)

['box is 60', 'pen is 70', 'pencil is 20', 'sweet is 50', 'chocolate is 100', 'switch is 20']

***

## Enumerate

**Enumerate** function will return both index and item of each item in an iterable as it loop through.

In [39]:
en_list =enumerate(items)
for i in en_list:
    print(i)

(0, 'box')
(1, 'pen')
(2, 'pencil')
(3, 'sweet')
(4, 'chocolate')
(5, 'switch')

In [40]:
list1

[60, 70, 20, 50, 100, 20]

In [41]:
items

['box', 'pen', 'pencil', 'sweet', 'chocolate', 'switch']

In [44]:
enumerate_items = enumerate(list1)
for index,element in enumerate_items:
    print(items[index],element)

box 60
pen 70
pencil 20
sweet 50
chocolate 100
switch 20

In [23]:
price_list = [40,50]
product  = ['sale','sale2']

In [24]:
enum_price = enumerate(price_list)

In [25]:
for index,element in enum_price:
    print(product[index],element)

sale 40
sale2 50

***

## Task 1:For loops

### Applying Sales Tax

Last weekend our system went down and we didn't have a calculator on site, so we told customers we'd charge them for tax later. 

The transactions are below.

In [2]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

In [3]:
subtotals

[15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

Can you apply sales tax to all of the transactions?

The tax rate is 8%. 

Once we've calculated the taxes, we'll need to add them to their subtotals and calculate the the total invoice value.

Your code should produce two lists.

* `taxes`:The first should be a list of the tax amounts on each transaction, rounded to the nearest .01.

* `totals`: The second should be a list where each element is subtotal[i] + tax[i]

In [4]:
tax_rate =0.08

taxes =[]
totals =[]

for i in subtotals:
    taxes.append(round(i*tax_rate,2))
print(taxes)


for index,element in enumerate(subtotals):
    totals.append(round(element+taxes[index],2))
print(totals)

[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

In [5]:
subtotals[0]+taxes[0]

17.26

***

## Task 2:Enumerate

### Sales Tax by State

We forgot to account for the fact that different states have different tax rates, so we need to modify our loop we just built. 

We have a list containing the location of each purchase. The transaction `subtotal[i]` took place at `locations[i]`

In [6]:
print('subtotals-->',subtotals)
print('taxes-->',taxes)
print('totals-->',totals)

subtotals--> [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]
taxes--> [1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
totals--> [17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

In [7]:
location = [
    'Sun Valley', 'Stowe', 'Mammoth', 'Stowe', 'Sun Valley', 
    'Mammoth', 'Mammoth', 'Mammoth', 'Sun Valley'
]

The following tax rates should be applied for each location:

1. Sun Valley: 8%
2. Stowe: 6%
3. Mammoth: 7.75%

In [8]:
sun_valley_tax = 0.08
stowe_tax = 0.06
mammoth =0.0775

In [39]:
new_taxes1 =[]
new_total2=[]

for i,element in enumerate(location):
    if element == 'Sun Valley':
        new_taxe = round((subtotals[i]*sun_valley_tax),2)
        
    elif element =='Stowe':
        new_taxe =round((subtotals[i]*stowe_tax),2)
        
    else:
        new_taxe=round((subtotals[i]*mammoth),2)
        
    
    new_taxes1.append(new_taxe)
    

    
    
print(new_taxes1)

[1.28, 54.0, 62.0, 7.08, 0.48, 46.5, 1.94, 139.5, 8.0]

In [40]:
for i in range(len(new_taxes1)):
    total1 = round(new_taxes[i]+subtotals[i],2)
    new_total2.append(total1)
print(new_total2)

[17.26, 953.97, 861.97, 125.04, 6.47, 646.49, 26.93, 1939.44, 107.99]

In [41]:
print("taxes -->",new_taxes1)
print("totals-->",new_total2)

taxes --> [1.28, 54.0, 62.0, 7.08, 0.48, 46.5, 1.94, 139.5, 8.0]
totals--> [17.26, 953.97, 861.97, 125.04, 6.47, 646.49, 26.93, 1939.44, 107.99]

***

## While Loops

**While Loops** run until the given logical expression is true.

In [2]:
i =10
while i <100:
    print(i)
    i =i+10

10
20
30
40
50
60
70
80
90

In [12]:
i=0
while i <9:
    print("python")
    i =i+1

python
python
python
python
python
python
python
python
python

In [10]:
for x in range(9):
    print("python")

python
python
python
python
python
python
python
python
python

***

## Task 3:While loops

### Calculate Projected Inventory for Each Month

We currently have 686 pairs of skis in inventory, and sell 84 each month.

Write a program that keeps track of monthly inventory, by subtracting 84 pairs of skis from inventory each month. 

Your program should print 'At the end of month x, we have y pairs of inventory', where x is the number of months that has gone by and y is the remaining inventory at that month.

If inventory goes negative, your program should stop running.

In [38]:
current_inventory = 686
monthly_sales = 84
month =0

In [39]:
while current_inventory > 0:
    current_inventory-= monthly_sales
    month =month+1
    
    print(f"At the end of month {month},We have {current_inventory} pairs of inventory")

At the end of month 1,We have 602 pairs of inventory
At the end of month 2,We have 518 pairs of inventory
At the end of month 3,We have 434 pairs of inventory
At the end of month 4,We have 350 pairs of inventory
At the end of month 5,We have 266 pairs of inventory
At the end of month 6,We have 182 pairs of inventory
At the end of month 7,We have 98 pairs of inventory
At the end of month 8,We have 14 pairs of inventory
At the end of month 9,We have -70 pairs of inventory

In [45]:
#Adding element to the list using while loop
my_list =[]
i=0
while i <4:
    my_list.append(i)
    i=i+1
print(my_list)

[0, 1, 2, 3]

In [48]:
#python while loop to print number series
n=1
while n<10:
    print(n,end =" ")
    n = n+1

1 2 3 4 5 6 7 8 9

***

## Nested loop

In [3]:
list1 = [10,100,20]
items =['apple','banana','grape']

for i in list1:
    for x in items:
        print(i ," ",x)

10   apple
10   banana
10   grape
100   apple
100   banana
100   grape
20   apple
20   banana
20   grape

In [1]:
items =['cake','fruits']
item_kg =[['1 kg','2 kg'],['10 kg','12 kg']]

In [2]:
item_kg

[['1 kg', '2 kg'], ['10 kg', '12 kg']]

In [19]:


for i,element in enumerate(item_kg):
    number_kg=[]
    for x in element:
        number_kg.append(int(x[0]))
print(number_kg)

[1, 1]

***

## Task 4:Nested loops

### Apply Discounts for Multi-Order Customers

We need to apply a 10% discount to every transaction in the list below.

Assign the discounted transactions to a new list: `discounted_prices`.

In [20]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

multi_order_customers = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

In [21]:
multi_order_customers

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [24]:

discount_list =[]
item =[10,20,30,40]
for i in item:
    discount =i*0.01
    discount_list.append(discount)
print(discount_list)

[0.1, 0.2, 0.3, 0.4]

In [40]:
discounted_price =[]
for i in multi_order_customers:
    discount_10 =[]
    for inner in i:
        discount_10.append(round(inner*0.9,2))
    discounted_price.append(discount_10)
print(discounted_price)

[[1619.95, 26.98, 89.99], [14.38, 107.99], [22.49, 22.49], [584.99, 89.99], [539.99, 359.97]]

In [6]:
nested_list =[['1 ton','2 ton'],['4 ton','6 ton']]
print(nested_list[0][0][0])
print(nested_list[0][1][0])
print(nested_list[1][0][0])
print(nested_list[1][1][0])

1
2
4
6

In [10]:
for x in nested_list:
    for inner in x:
        print(inner[0])

1
2
4
6

***

## Loop control

In [14]:
subtotal =[100,200,300,400,400,600,60,70,10]
new_subtotal =[]

for x in subtotal:
    if x >250:
        break
    new_subtotal.append(x)
print(new_subtotal)

[100, 200]

In [15]:
subtotal1 =[]

for y in subtotal:
    if y >250:
        continue
    subtotal1.append(y)
print(subtotal1)

[100, 200, 60, 70, 10]

In [23]:
revenue = 100
for sub in subtotal:
    revenue +=sub
    if revenue >500:
        break
    print(revenue)

200
400

In [28]:
item =['ski-extreme','snow-basic','snow-extreme','snow-comfort']
snow =[] 

for items in item:
    if 'snow' in items:
        snow.append(items)
print(snow)

['snow-basic', 'snow-extreme', 'snow-comfort']

In [33]:
price =[5.99,'none','100',0,100]
for x in price:
    percent = x*0.05
    print(f" {percent} is the percentage" )

 0.29950000000000004 is the percentage

TypeError: can't multiply sequence by non-int of type 'float'

In [34]:
##try except

In [32]:
price =[5.99,'none','100',0,100]
for x in price:
    try:
        percent = round(x*0.05,2)
        print(f"{percent} is the percentage" )
    except:
        print("price not available")

0.3 is the percentage
price not available
price not available
0.0 is the percentage
5.0 is the percentage

***

## Task 5:Loop control

### Improved Affordability Calculator.

We need to make sure our affordability calculator can handle many data types without stopping - our data is VERY messy. We need to make the following changes to the code below:


* Make sure it converts the string in the list below into a float. Print a warning that this was string data. Then process as usual.

* Also, have the loop skip any instances of None data type.

* Then, remove the generic except statement to avoid processing errors.

* Finally, change the hard coded value 50 into a variable so we can change this value based on each customer's budget.

In [36]:
price_list = [5.99, None, 19.99, 24.99, 0, '74.99', 99.99]
budget =50

for price in price_list:
    if price == None:
        continue
    try:
        affordable_quantity = budget//price  
        print(f"I can buy {affordable_quantity} of these.")
    except ZeroDivisionError:
        print("This product is free, I can take as many as I like.")
    except:
        affordable_quantity =budget//float(price)
        print("string data detected")
        print(f"I can buy {affordable_quantity} of these.")

I can buy 8.0 of these.
I can buy 2.0 of these.
I can buy 2.0 of these.
This product is free, I can take as many as I like.
string data detected
I can buy 0.0 of these.
I can buy 0.0 of these.

***

### Note:

<span style='color:purple'>1. For loops runs a **predetermined** number of times.<br>
    2. While loops run untile a given **logical condition** is no longer met.<br>
    3.Loop control statements help refine logic and handle potential errors.