# <center>Functions</center>

* [<span style ='color:purple'>**Introduction**](#Introduction)
   * [<span style ='color:purple'>Task 1:Defining Function](#Task-1:Defining-Function)
* [<span style ='color:purple'>**Argument Types**](#Argument-Types)
* [<span style='color:purple'>**Return Type**](#Return-Type)
* [<span style='color:purple'>**Creating and Importing a modules**](#Creating-and-Importing-a-modules)
   * [<span style='color:purple'>Task 2:Creating a Module](#Task-2:Creating-a-Module)
   * [<span style='color:purple'>Task 3:Importing a modules](#Task-3:Importing-a-modules)
 * [<span style='color:purple'>**Map function**](#Map-function)
    * [<span style='color:purple'>Task 4:Map function](#Task-4:Map-function)
 * [<span style='color:purple'>**Lambda function**](#Lambda-function)
    * [<span style='color:purple'>Task 5:Lambda function](#Task-5:Lambda-function)
 * [<span style='color:purple'>**Comprehensions**](#Comprehensions)
    * [<span style='color:purple'>Task 6:List comprehension](#Task-6:List-comprehension)
 * [<span style='color:purple'>**Dictionary comprehension**](#Dictionary-comprehension)
    * [<span style='color:purple'>Task 7:Dictionary comprehension](#Task-7:Dictionary-comprehension)
 * [<span style='color:purple'>**Note:**](#Note:)

## <center>Introduction</center>

**Functions** are reusable block of code that perform specific task when it is called.<br>
They take in data and perform set of actions and return a result

In [2]:
price_list =[30,40,200,100,23]

In [3]:
max(price_list)

200

In [4]:
def concatenator(string1,string2):
    return string1+" "+string2

In [7]:
concatenator('hello','how are you')

'hello how are you'

In [5]:
list1 =[100,200,300,400]

total =0
for i in list1:
    total =total+i
print(total)

1000

In [7]:
list2 =[300,400,50,60]

total =0
for i in list2:
    total =total+i
print(total)

810

In [8]:
def total(arg):
    total =0
    for i in arg:
        total=total+i
    return total

In [9]:
total(list1)

1000

In [10]:
total(list2)

810

In [6]:
def greet(name):
    print("hello",name)

In [7]:
greet('nan')

hello nan

In [8]:
greet('grr')

hello grr

***

## Task 1:Defining Function

#### Tax Calculator

Write a function that takes a subtotal and a tax rate and returns the total invoice amount.

* Tax is equal to subtotal multiplied by the tax rate.
* The total is equal to subtotal plus tax.

In [10]:
def tax_calculator(subtotal,tax_rate):
    tax = subtotal * tax_rate
    total = subtotal + tax
    return total

In [11]:
tax_calculator(100,0.06)

106.0

***



## Argument Types

There ara several type of arguments that can be passed on to a function:<br>
1. Positional arguments.
2. Keyword arguments.
3. Default arguments.
4. args arguments.
5. ** kwargs arguments.

In [3]:
# Positional arguments.


def get_name(name1,name2):
    
    x=print(name1+ ' '+name2)
    return x

In [4]:
get_name('my' ,'friend')

my friend

In [9]:
#Keyword arguments

def  calculate(a,b):
    multiply =a*b
    division =b/a
    return (division,multiply)

In [10]:
calculate(a=10,b=500)

(50.0, 5000)

In [11]:
calculate(a=10,400)

SyntaxError: positional argument follows keyword argument (1095429548.py, line 1)

In [13]:
calculate(10,b=400) ## note:positional argument follows keyword argument

(40.0, 4000)

In [14]:
# Default arguments

def concat(string1,string2='hai'):
    return string1 +' '+string2

In [15]:
concat('hello')

'hello hai'

In [18]:
# *args arguments

def letter(*args):
    new_string =" "
    for x in args:
        new_string +=(x+ " ")
    return new_string

In [19]:
letter('apple','banana','boxes')

' apple banana boxes '

In [25]:
# **kwargs arguments

def dict_words(**kwargs):
    new_word =" "
    for x in kwargs.values():
        new_word +=(x+ " ")
    return new_word

In [26]:
dict_words(a='hai',b ='hello',c ='how',d= 'are',e ='you')

' hai hello how are you '

In [31]:
website_ratings =['5 stars','1 star','3 stars']
forum_ratings =['stars:5','stars: 4','stars :2']

In [33]:
for i in website_ratings:
    number =i[0]
    print(number)

5
1
3

In [37]:
def rating_number(rating):
    number =int(rating[0])
    return number

In [39]:
rating_number(website_ratings[1])

1

In [46]:
def rating_number1(rating,index):
    number1 = int(rating[index])
    return number1

In [47]:
rating_number1('stars:5',-1)

5

In [48]:
rating_number1(rating='stars:4',index=-1)

4

In [50]:
def rating_number2(* args):
    for x in args:
        number =int(x[0])
        print(number)

In [54]:
rating_number2(*website_ratings) #this will unpack element in the list

5
1
3

In [55]:
rating_number2('5 stars','1 star','3 stars')

5
1
3

***

## Return Type

In [23]:
def concatenate(*args):
    sentence =""
    for i in args:
        sentence +=i +" "
    last_word =sentence[2]
    return [sentence.rstrip(),last_word]

In [24]:
concatenate('hello','what','is','your','name')

['hello what is your name', 'l']

In [28]:
rating_list = ['10 star','5 star','3 star','2 star','8 star']

In [31]:
rating_number = int(rating_list[0][0])
rating_number

1

In [34]:
def rating(rating):
    rating_no =int(rating[0])
    return rating,rating_no

In [35]:
rating('5 star')

('5 star', 5)

---

## Creating and Importing a modules

In [6]:
web_rating =['9 stars','2 stars','3 stars','8 stars','7 stars','5 stars']

In [7]:
rating_number =int(web_rating[0][0])
rating_number

9

In [9]:
rating_clean('9 stars')

9

In [11]:
numeric_list =[]
for i in web_rating:
    number_rating =int(i[0])
    numeric_list.append(number_rating)
print(numeric_list)

[9, 2, 3, 8, 7, 5]

In [101]:
%%writefile rating_clean_list.py

def rating_list_clean(rating_list):
    """ clean list of rating and return numeric rating list
    Args:
        rating_list(list):list of text string
    Returns:
        list:list of integer
    """
    
    number_list =[]
    for i in rating_list:
        number =int(i[0])
        number_list.append(number)
    return number_list

def rating_clean(rating):
    """gets numeric portion from web rating
    Args:
        rating(str):text rating from web
        
    Returns
        int:integer portion of rating
    """
    
    rating_number =int(rating[0])
    return rating_number

Overwriting rating_clean_list.py

In [1]:
## Two functions are created rating_clean and rating_list_clean

In [130]:
rating_clean('9 star')

9

In [104]:
import rating_clean_list

In [129]:
rating_clean_list.rating_clean('8 stars')

8

In [106]:
web_rating1 =['9 stars','2 stars','3 stars','8 stars','7 stars','5 stars','9 stars','2 stars','3 stars','8 stars','7 stars','5 stars']

In [107]:
rating_clean_list.rating_list_clean(web_rating1)

[9, 2, 3, 8, 7, 5, 9, 2, 3, 8, 7, 5]

In [131]:
from rating_clean_list import rating_clean

In [108]:
rating_clean('6 stars')

6

In [109]:
rating_clean_list.rating_clean('9 stars')

9

In [126]:
import mul_add_list

In [127]:
new_list1 =[9,10,21,20]

In [128]:
mul_add_list.mult(new_list1)

37800

In [81]:
num=0
for i in new_list1:
    x=i
    num=x+num
print(num)

60

In [7]:
%%writefile mul_add_list1.py

def mult(number):
    num=1
    for i in number:
        x=i
        num=x*num
    return num
    
def addition(number1):
    num1=0
    for n in number1:
        y=n
        num1=y+num1
    return num1

def greet(name1,name2):
    return name1+ ""+name2

Overwriting mul_add_list1.py

In [8]:
import mul_add_list1

In [9]:
list2=[100,1,2]

In [10]:
mul_add_list1.addition(list2)

103

In [145]:
mul_add_list1.greet('hai','hello')

'haihello'

In [146]:
new =[10,22,30]
mul_add_list1.mult(new)

6600

In [150]:
mul_add_list1.greet('srrr','kkk')

'srrrkkk'

***

## Task 2:Creating a Module

### Modified Tax Calculator

Since the tax calculator we made was primarily for our Stowe employees, let's modify the tax calculator below to have a default tax rate of 6%. 

Also, we want the output of the function to return a list containing the subtotal, tax, and totals.

In [1]:
%%writefile tax_calculator.py

def tax_calculator1(subtotal,tax_rate=0.06):
    
    """ takes in subtotal ,default tax rate and return list of subtotal,
    tax and total.
    
    Args:
        subtotal(float,int):cost of item.
        tax_rate(optioanl):tax rate of store location,by default here tax_rate 
        is 0.06
    
    Return:
        list:list containing subtotal,total and tax."""
    
    tax = subtotal * tax_rate
    total = subtotal + tax
    return [subtotal,round(tax,2),round(total,2)]

Overwriting tax_calculator.py

***

## Task 3:Importing a modules

Using the tax calculator!
Now that we have a working tax calculator, we need to put it to work.

First, import the tax calculator.

In [2]:
import tax_calculator

#### Processing Transactions

Apply the tax calculator to the list of subtotals below.

We want to store all of the results in a single list, so each list returned from the tax calculator should be a list stored in a list called `full_transactions`. Use the default tax rate for each transaction.

In [3]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]

In [4]:
full_transaction1=[]
for i in subtotals:
    full_transaction1.append(tax_calculator.tax_calculator1(i))
print(full_transaction1)

[[15.98, 0.96, 16.94], [899.97, 54.0, 953.97], [799.97, 48.0, 847.97], [117.96, 7.08, 125.04], [5.99, 0.36, 6.35], [599.99, 36.0, 635.99]]

In [5]:
full_transaction1

[[15.98, 0.96, 16.94],
 [899.97, 54.0, 953.97],
 [799.97, 48.0, 847.97],
 [117.96, 7.08, 125.04],
 [5.99, 0.36, 6.35],
 [599.99, 36.0, 635.99]]

***

### Transaction Dictionary
Great! Now that you've done that, combine the transactions with the customer_ids below into a dictionary.

We want the customer_ids as keys, and the transactions as values.

In [11]:
customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

In [19]:
customer_trans = dict(zip(customer_ids,full_transaction1))

In [20]:
customer_trans

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.99, 0.36, 6.35],
 'C00010': [599.99, 36.0, 635.99]}

In [22]:
customer_trans['C00007']

[899.97, 54.0, 953.97]

***

## Map function

Map Function is an efficient way to apply function to all items in an iterables.<br>
map(function,iterables)

In [23]:
def convert(number):
    return '$'+str(number)

In [24]:
convert(5)

'$5'

In [29]:
num_list=[10,21,30,7]
new_list=[]
for i in num_list:
    new_list.append(convert(i))##convert function is used inside the for loop
print(new_list)

['$10', '$21', '$30', '$7']

In [27]:
new_list2 = list(map(convert,num_list))

In [28]:
new_list2

['$10', '$21', '$30', '$7']

***

## Task 4:Map function

### Mapping the tax calculator

Now that we've successfully got our tax calculator working, can you apply it to the subtotals below?

Should be quick! Thanks!

P.S. Don't use a loop!

In [30]:
subtotals = [1799.94, 99.99, 254.95, 29.98, 99.99]

In [32]:
from tax_calculator import tax_calculator1

In [35]:
mapping_values = list(map(tax_calculator1,subtotals))

In [36]:
mapping_values

[[1799.94, 108.0, 1907.94],
 [99.99, 6.0, 105.99],
 [254.95, 15.3, 270.25],
 [29.98, 1.8, 31.78],
 [99.99, 6.0, 105.99]]

***

## Lambda function

In [1]:
cust_id =['c00001','c00002','c00003','c00005','c11112']

In [2]:
id1 ='c00002'

In [14]:
def cust_number(ids):
    number =int(ids[1:])
    return number

In [15]:
cust_number(id1)

2

In [16]:
#to apply the cust_number function to cust_id list we use map function

number_id = list(map(cust_number,cust_id))

In [17]:
number_id

[1, 2, 3, 5, 11112]

In [18]:
# using lambda function we can do the same

cust_id1 =['c00001','c00002','c00003','c00005','c11112','c00004','c00007','c00003',
           'c00008','c11112']

In [19]:
# lambda function

x = list(map(lambda ids:int(ids[1:]),cust_id1))

In [20]:
print(x)

[1, 2, 3, 5, 11112, 4, 7, 3, 8, 11112]

***

## Task 5:Lambda function

### Apply A Special Discount


We need to apply a discount for customers who purchased more than 500 dollars worth of product – they’re starting to complain it hasn’t been applied. They need to get 10% off on their orders.


Can you quickly apply a discount? Store the new prices in a list called `discounted_subtotals`.

In [24]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]

discounted_subtotals =list(map(lambda x:round(x*0.9,2) if x > 500 else x ,
                               subtotals))

In [25]:
discounted_subtotals

[15.98, 809.97, 719.97, 117.96, 5.99, 539.99]

***

## Comprehensions

Comprehension can generate sequence from other sequences.<br>
syntax: new_list=[expression for member in other_iterable(if condition)]

In [27]:
## creating a list of euro price from usd price

usd_price =[5.9,8,6.7,4,3,99.99]
exchange_rate =0.88
euro_price =[]

for i in usd_price:
    euro_price.append(round(i*exchange_rate,2))
print(euro_price)

[5.19, 7.04, 5.9, 3.52, 2.64, 87.99]

In [34]:
#we can use comprehension to do this in a single line of code

euro_price2 = [round(i*exchange_rate,2) for i in usd_price]

In [35]:
euro_price2

[5.19, 7.04, 5.9, 3.52, 2.64, 87.99]

In [37]:
euro_price3 =[round(i* exchange_rate,2) for i in usd_price if i>6]
euro_price3

[7.04, 5.9, 87.99]

In [38]:
import numpy as np

In [39]:
ratings =['5 star','1 star','2 star','8 star',
         '9 star','6 star','7 star','1 star']

In [42]:
rating_number =[int(i[0]) for i in ratings]

In [43]:
rating_number

[5, 1, 2, 8, 9, 6, 7, 1]

In [44]:
np.mean(rating_number)

4.875

In [47]:
rating_number1 =[int(i[0]) for i in ratings if int(i[0])<6]

In [48]:
rating_number1

[5, 1, 2, 1]

In [49]:
np.mean(rating_number1)

2.25

***

## Task 6:List comprehension

### Total Cost of European Items

Below is the code to recreate our European item dictionary.

Run the cells below, then follow the instructions below.

In [50]:
# Data for dictionary - run this cell and the followwing to create it

item_ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]

item_names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]

euro_prices = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]

item_category = [
    "beverage", "clothing", "clothing", "clothing", "safety",
    "clothing", "clothing", "hardware", "hardware",
]

sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"],
]

In [57]:
euro_item ={item:[name,price,category,size]for item,name,price,category,size in zip(item_ids,item_names,
                                    euro_prices,item_category,sizes)}

In [58]:
euro_item

{10001: ['Coffee', 5.27, 'beverage', ['250mL']],
 10002: ['Beanie', 8.79, 'clothing', ['Child', 'Adult']],
 10003: ['Gloves', 17.59, 'clothing', ['Child', 'Adult']],
 10004: ['Sweatshirt', 21.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']],
 10005: ['Helmet', 87.99, 'safety', ['Child', 'Adult']],
 10006: ['Snow Pants', 70.39, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']],
 10007: ['Coat', 105.59, 'clothing', ['S', 'M', 'L']],
 10008: ['Ski Poles', 87.99, 'hardware', ['S', 'M', 'L']],
 10009: ['Ski Boots', 175.99, 'hardware', [5, 6, 7, 8, 9, 10, 11]]}

In [61]:
euro_item[10001][1]

5.27

In [68]:
x =sum([i[1] for i in euro_item.values()])

In [69]:
x

581.59

***

## Dictionary comprehension

comprehension can also create dictionaries from other iterables

syntax: new_dict = {key:value for key,value in other_iterables(if condition)}

In [70]:
items =['skis','snow','board','boots']
status =[[5,249.99],[0,21.99],[0,9.99],[12,79.99]]

In [71]:
new_dict ={item : round(stat[0] * stat[1],2)for item,stat in zip(items,status)}

In [72]:
new_dict

{'skis': 1249.95, 'snow': 0.0, 'board': 0.0, 'boots': 959.88}

***

## Task 7:Dictionary comprehension

### Transaction Dictionary Creator

Hi there, we need to make some final updates to our tax calculator function.

We need a function takes a list of customer_ids, a list of subtotals, and a tax rate, that calls the tax_calculator on a list of subtotals, then returns a dictionary with customer_IDs as keys, and the lists returned from tax_calculator as the values.

A dictionary comprehension would be very helpful here.

Your function will need the following arguments:

* customer_ids - a list of strings
* subtotals - a list of numbers
* tax_rate - the tax rate which will be passed to tax_calculator

The output will be a dictionary with:

* Customer IDs as keys
* [subtotal, tax, total] as values

In [2]:
from tax_calculator import tax_calculator1

In [3]:
tax_calculator1(200)

[200, 12.0, 212.0]

In [7]:
list_new=[100,230,40]

calculated_list = list(map(tax_calculator1,list_new))
calculated_list

[[100, 6.0, 106.0], [230, 13.8, 243.8], [40, 2.4, 42.4]]

In [8]:
customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]

In [9]:
transaction_dict ={k: tax_calculator1(v)for k,v in zip(customer_ids,subtotals)}

In [10]:
transaction_dict

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.99, 0.36, 6.35],
 'C00010': [599.99, 36.0, 635.99]}

***

### Note:
<span style='color:purple'>1.**Functions** are resuable block of code.<br>
    2. External **packages and libraries** provide access to functions developed by others<br>
    3.**Map()** applies a function to an iterable without the use of for loop<br>
    4.**Comprehension** can create sequence and dictionaries from other iterables.