# <center>Python Data Types</center>

* [<span style='color:purple'>**Introduction**](#Introduction)
    * [<span style='color:purple'>Single value](#Single-value:)
    * [<span style='color:purple'>Multiple values](#Multiple-values:)
    * [<span style='color:purple'>The Type Function](#The-Type-Function)
    * [<span style='color:purple'>Type Conversion](#Type-conversion)
    * [<span style='color:purple'>Iterables](#Iterables)
    * [<span style='color:purple'>Mutablity](#Mutability)
    * [<span style='color:purple'>Note](#Note:)

##  <center>Introduction</center>

Python has a series of built-in **data types** with different properties.<br>
Python datatypes are grouped into following categories:
* Numeric  
* Text        
* Boolean
* None
* Sequence
* Mapping
* Set

## Single value:

**Numeric:** This data type represent numeric values.<br>
1. integer(int) - 5<br>
2. float(float) - 3.18<br>
3. complex(complex) - 5+7j

**Text:** This data type represent sequence of character,usually text.<br>
1. string(str) - 'Enjoying'

**Boolean:** This data type represent true and false values.<br>
1. Boolean(Bool) - True,False

**None:** This data type represent the absence of a value.<br>
1. Nonetype - None

## Multiple values:

**Sequence:** This data type represent sequences of values,usually text or numeric.<br>
1. List(list) - [5,6,7,8,9]
2. Tuple(tuple) - ('Enjoy', 'happy')
3. Range(range) - range(3,10,2)

**Mapping:** Map keys to value for efficient information retrieval<br>
1. Dictionary(dict) - {'learn': 2,'play': 6}

**Set:** This dataset represent collection of unique,non-duplicate values.<br>
1. set{set} - {'learn','play'}
2. Frozen set{frozenset} - {'learn','play'}

## The Type Function

The **type()** function return the datatype of object passed to it.

In [1]:
type(4)

int

In [2]:
type(12)

int

In [3]:
type(30)

int

In [4]:
type('Enjoy')

str

In [5]:
type("play")

str

In [6]:
type("happy")

str

In [7]:
type(True)

bool

In [8]:
type(False)

bool

In [12]:
type(None)

NoneType

In [36]:
type([1,10,1,2])

list

In [37]:
type([21,'number',None])

list

In [14]:
type({'a':4,'c':5})

dict

In [15]:
type((1,10,1,2))

tuple

In [26]:
#set
a = {'happy','play','learn','eat','eat'}
print(type(a))
print(a)  #set represent collection of unique,non-duplicate values

<class 'set'>
{'play', 'eat', 'happy', 'learn'}

## Type Conversion

Convert the datatype of object by using **datatype(object)**

In [35]:
a='123'
type_of_a=print(type(a))
convert_str_to_integer=print(int(a))#converting string to integer.

<class 'str'>
123

In [29]:
a = 3.24
print(a)
type_conversion = int(a)
print(type_conversion)

3.24
3

In [31]:
float(5)

5.0

In [49]:
b = [22,'eight',22,'ten','ten']
type_of_b = type(b)
print("type_of_b",type_of_b)
print('list b = ',b)
list_to_set = set(b)
print('list b to set = ',list_to_set)

type_of_b <class 'list'>
list b =  [22, 'eight', 22, 'ten', 'ten']
list b to set =  {'eight', 'ten', 22}

## Iterables

Iterables are datatypes that can be iterated or looped through,allow to move from one value to the next.
These datatypes are iterable:
* Sequence
* Mapping
* Set
* Text(while text strings are considered as single value,individual character in a text string is iterated)

## Mutability

A data type is mutable if it can be modified after its creation.<br>

**Mutable datatypes** - can modify,add,remove a value in the object
* List
* Dictionaries
* Sets<br>

**Immutable datatypes** - To modify a value we must delete and recreate the entire object.<br>
* Integers
* Floats
* Strings
* Booleans
* Tuples
* Frozenset<br>
<span style= 'color:red'>all simple datatypes are immutable

### Note:

<span style='color:purple'>1. Python has awide variety of **datatypes** with different properties.<br>
    2. The **type()** function determine the object data type.<br>
    3. **Iterables** are datatype with values that you can loop through.<br>
    4. Data types can be **Mutable or Immutable**