# <center>Manipulating excel sheets using python</center>

* [<span style='color:purple'>**Navigating workbook**](#Navigating-workbook)
* [<span style='color:purple'>**Navigating cells**](#Navigating-cells)
    * [<span style='color:purple'>Task 1:Navigating workbook](#Task-1:Navigating-workbook)
* [<span style='color:purple'>**Looping through cells in sheet**](#Looping-through-cells-in-sheet)
    * [<span style='color:purple'>Task 2:Pound and Yen pricing](#Task-2:Pound-and-Yen-pricing)
* [<span style='color:purple'>**Note**](#Note:)

In [36]:
## Importing openpyxl package to manipulate data from excel using python
import openpyxl as xl

## Navigating workbook

In [2]:
workbook =xl.load_workbook(filename="maven_ski_shop_data.xlsx")

In [3]:
workbook.sheetnames #This will return sheetnames in a workbook

['Item_Info', 'Inventory_Levels', 'Orders_Info']

In [4]:
workbook.active

In [5]:
workbook.active=0
workbook.active

In [6]:
items = workbook['Item_Info']
inventory = workbook['Inventory_Levels']
orders = workbook['Orders_Info']

In [7]:
items

In [8]:
inventory

In [9]:
orders

## Navigating cells

In [10]:
#you can navigate cell by using A1 style coordinate

items['B1']

In [11]:
items['B1'].value

'Product_Name'

In [12]:
items['B2'].value

'Coffee'

In [13]:
items['C2'].value

5.99

In [14]:
items.cell(row =4,column=2).value

'Gloves'

In [15]:
orders['C3'].value

'11/26/2021'

In [16]:
items

In [17]:
inventory['B2'].value

100

In [18]:
if inventory['B2'].value <5 :
    print("Low stock")
else:
    print("Available")

Available

## Task 1:Navigating workbook

### Excel Data Sales Tax

We need to calculate the sales tax for customer C00003 in the excel workbook 'maven_ski_shop_data'.

Their transaction should be in row 'D10'. Apply a sales tax of 8%.

In [19]:
orders['D10'].value

99.99

### Sales Tax Calculation

Ok, you should be ready to go - calculate the sales tax and total for the transaction in cell D10. 

Remember we already have a tax calculator function to do this! 

Consider printing your output with a string message!

In [20]:
def tax_calculator1(subtotal,tax_rate=0.06):
    
    """ takes in subtotal ,default tax rate and return list of subtotal,
    tax and total.
    
    Args:
        subtotal(float,int):cost of item.
        tax_rate(optioanl):tax rate of store location,by default here tax_rate 
        is 0.06
    
    Return:
        list:list containing subtotal,total and tax."""
    
    tax = subtotal * tax_rate
    total = subtotal + tax
    return [subtotal,round(tax,2),round(total,2)]

In [21]:
transaction = tax_calculator1(orders['D10'].value,0.08)

In [22]:
transaction

[99.99, 8.0, 107.99]

In [23]:
print("sales tax: $"+ str(transaction[1]))
print("Total have to pay: $"+ str(transaction[2]))

sales tax: $8.0
Total have to pay: $107.99

## Looping through cells in sheet

In [24]:
print("maximum rows in item worksheet:", items.max_row)
print("columns in items worksheet:",items.max_column)

maximum rows in item worksheet: 14
columns in items worksheet: 6

In [25]:
#print the column B1 in a excel worksheet (items)

for i in range(1,items.max_row+1):
    print(f'B{i}',items[f'B{i}'].value)

B1 Product_Name
B2 Coffee
B3 Beanie
B4 Gloves
B5 Sweatshirt
B6 Helmet
B7 Snow Pants
B8 Coat
B9 Ski Poles
B10 Ski Boots
B11 Skis
B12 Snowboard Boots
B13 Bindings
B14 Snowboard

In [26]:
items['B10'].value

'Ski Boots'

In [27]:
items['F1'] = 'Euro price'
#here Euro price is assigned to F1 by creating new column

In [28]:
items.max_column

6

In [29]:
#write data to a column by looping through its rows and assigning values

exchange_rate =0.88

for i in range(2,items.max_row+1):
    items[f'F{i}'] = round(items[f'C{i}'].value * exchange_rate,2)

In [30]:
for i in range(2,items.max_row+1):
    print( f'F{i}',"--",items[f'F{i}'].value)

F2 -- 5.27
F3 -- 8.79
F4 -- 17.59
F5 -- 21.99
F6 -- 87.99
F7 -- 70.39
F8 -- 105.59
F9 -- 87.99
F10 -- 175.99
F11 -- 527.99
F12 -- 114.39
F13 -- 131.99
F14 -- 439.99

In [31]:
inventory

In [32]:
for i in range(1,inventory.max_row+1):
    print(i,inventory[f"B{i}"].value)

1 Quantity_in_stock
2 100
3 15
4 10
5 25
6 8
7 6
8 0
9 0
10 1
11 5
12 0
13 4

In [33]:
for i in range(1,inventory.max_row+1):
    if i ==1:
        inventory[f"C{i}"].value ='Inventory status'
    elif inventory[f"B{i}"].value >5:
        inventory[f"C{i}"].value= "Healthy stock"
    elif inventory[f"B{i}"].value >0:
        inventory[f"C{i}"].value ="low stock"
    else:
        inventory[f"C{i}"].value  ="out of stock"

In [34]:
for i in range(1,inventory.max_row+1):
    print(i,inventory[f"C{i}"].value)

1 Inventory status
2 Healthy stock
3 Healthy stock
4 Healthy stock
5 Healthy stock
6 Healthy stock
7 Healthy stock
8 out of stock
9 out of stock
10 low stock
11 low stock
12 out of stock
13 low stock

In [35]:
workbook.save("maven_ski_shop_data_fix.xlsx")

## Task 2:Pound and Yen pricing

In [37]:
items

### New Currency Prices

Hi there, we need to add British Pound and Japanese Yen pricing to our 'Item_Info' sheet in the Maven data Excel workbook.

### Currency Converter

Since we're going to be doing this a few times (and hopefully more in the future), let's create a currency_converter function to take a price, and an exchange rate, returning a converted price rounded to two decimal places.

In [38]:
def currency_convertor(price,exchange_rate=0.88):
    return round(price * exchange_rate,2)

### British Pound Column

Now that we have a currency converter, create a column with British Pound prices, in the column to the right of the Euro prices.

Don't forget to add a column title - 'GBP Price' Should Work!

In [39]:
items['G1'] ='GBP Price'

In [40]:
pound_exc = .76

for row in range(2,items.max_row+1):
    items[f'G{row}'] =currency_convertor(items[f'C{row}'].value,pound_exc)

### Japanese Yen Column

Next, create a Japanese Yen Column with the same method we did for British Pounds.

Call this column 'JPY Price'

In [41]:
items['H1'] = 'JPY Price'

yen_exc =123

for row in range(2,items.max_row+1):
    items[f'H{row}'] =currency_convertor(items[f'C{row}'].value,yen_exc)

In [42]:
workbook.save('maven_data_new_pricing.xlsx')

In [43]:
for i in range(1,items.max_row+1):
    print(i,items[f"G{i}"].value)

1 GBP Price
2 4.55
3 7.59
4 15.19
5 18.99
6 75.99
7 60.79
8 91.19
9 75.99
10 151.99
11 455.99
12 98.79
13 113.99
14 379.99

In [44]:
for i in range(1,items.max_row+1):
    print(i,items[f'H{i}'].value)

1 JPY Price
2 736.77
3 1228.77
4 2458.77
5 3073.77
6 12298.77
7 9838.77
8 14758.77
9 12298.77
10 24598.77
11 73798.77
12 15988.77
13 18448.77
14 61498.77

### Note:

<span style="color:purple">1.The **openpyxl** package can manipulate excel data using python.<br>
    2.Python can manipulate flat files,read and write to databases,scrape data from the web and more.